<h1>All Users</h1>
<h2> <%= link_to "Create new account", new_user_path %></h2>
<br>
<div>
    <ul>
        <% @users.each do |user| %>
            <br>
            <li> <%= link_to user.user_name.capitalize, user_path(user.id) %> </li>
        <%end%>
    </ul>
</div>
